
@keyframes visible {
    0% {
        display: block;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}